body {
  background-image: linear-gradient(lightpink, green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Afacad";
  height: 100vh;
}

button {
  background-color:goldenrod;
  border-style: none;
  border-radius: 20px;
  color:rgb(22, 93, 11);
  font-family: "Afacad";
  font-weight:400;
  font-size: 40px;
  padding: 15px;
}

.hide {
  display: none;
}

#questionCard {
  background-color: white;
  width: 300px;
  height: 200px;
  padding: 20px;
}