* {
  font-family: "nova round";
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  padding: 10px;
}

.daymode {
  background-color: silver;
}

.nightmode {
  background-color: darkblue;
  color: silver;
}

#nightModeBtn {
  font-size: 40px;
}

#quiz {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  width: 600px;
  background-color: magenta;
  margin: 10px;
  padding: 20px;
  color: white;
  box-sizing: border-box;
}

#results {
  display: flex;
  justify-content:space-around;
  align-items:center;
  width: 600px;
  height: 80px;
  background-color: red;
  margin: 10px 10px 30px 10px;
  padding: 10px;
  color: white;
  box-sizing: border-box;
}

#submitBtnContainer {
  display: flex;
  justify-content:space-around;
  align-items:center;
  width: 600px;
  height: 80px;
  background-color: red;
  margin: 10px 10px 30px 10px;
  padding: 10px;
  color: white;
  box-sizing: border-box;
}

.answers {
  margin-bottom: 20px;
}

button, #submit {
  background-color: rgb(151, 196, 255);
  border-radius: 20px;
  border: 0px;
  padding: 13px;
  margin: 10px;
}

input[type="radio"] {
  margin: 10px;
}

.hide {
  display: none;
}
